*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  font-family:cursive;
}

body{
  font-family:cursive;
  font-style: italic;
}
.heading{
  text-align: center;
  color:black;
  padding:50px;
  font-size:175%;
}
#row {
  width:100%;

}
section {
    border: 1px solid black;
    background-color:#696969;
    margin: 20px;
}
.title{
  float:right;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 40%;
  text-align: center;
  font-size: 125%;
  }
.col{
  width:100%;
  float: left;
}
.col_1{
  background-color:pink;

}
.col_2{
  background-color:red;
}
.col_3{
  background-color:green;
}
.description{
  padding: 10px;
  clear: right;
  margin:10px;
}

/* Desktop View */
@media (min-width:992px){
.col{
  width: 33.33%;
  }
}


/* Tablet View */
@media (min-width:768px) and (max-width:991px){
.col, .med
.col{
    width: 50%;
  }
  .med{
    width: 100%;
  }

}


/* Mobile View */
@media (max-width:767px){
.col{
  width: 100%;
  }
}
